*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #E5E5E5;
    height: 100vh;
}
.alert{
    position: fixed;
    left: 0;
    right: 0;
    margin-top: 25px;
    display: none;
}
.alet_container{
    padding: 5px;
    max-width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 195, 195);
}
.alert_span{
    color: red;
    font-size: larger;
    margin-left: 5px;
    font-weight: 900;
}
.logincontainer{
    width: 100vw;
    height: 100vh;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_login{
    display: flex;
    max-width: 450px;
    max-height: 410px;
    border: 1px solid #212121;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.logo_login{
    height:60px;
    width: 235px;   
    margin-bottom: 40px;
    text-align: center;
}

#icone_login{
    font-size: 40px;
    margin-right: 5px;
}

.span_login{
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 900;
}

#input1{
    margin-bottom:54px;
    padding: 10px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
}

#input2{
    margin-bottom: 32px;
    padding: 10px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
}

.input, button{
    width: 100%;
    height: 40px;
}

label{
    font-family: 'Montserrat';
    font-style: normal;
    font-size:14px;
    font-weight: 600;
    color: #212121;
}

.button_login{
    background: #212121;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-size:14px;
    font-weight: 600;
    border: none;
}

.button_login:hover{
    cursor: pointer;
    letter-spacing: 1px;
    opacity: .95;
    box-shadow: 0px 1px 10px black;
    border-radius: 5px;
}



/*HOME*/

.container{
    max-width: 80vw;
    height: 100vh;
    background-color: #E5E5E5;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

header{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top: 30px;
}
a{
    text-decoration: none;
    color: black;
}
#icone_logo{
    margin-right: 5px;
    font-size: 30px;
}

.span_home{
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 5px;
}

.exit_home{
    font-weight: 800;
}

.start{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.adicionar_home, .title_navers{
    max-width: 150px;
}

.adicionar_home{
    background-color: black;
    color: #E5E5E5;
    height: 30px;
    padding: 5px;
}

.navers_home{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
.navers{
    padding: 5px;
}
.img_home{
    position: relative;
    max-width: 281px;
    max-height: 280px;
    margin-bottom: 5px;
}

.img_home > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.view_details{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.view{
    font-size: larger;
    font-weight: 800;
    color: #E5E5E5;
}

.view_details:hover{
    opacity: .8;
}

.view:hover{
    letter-spacing: 2px;
    text-decoration: dashed;
}


.info_navers{
    margin-bottom: 5px;
}

.name{
    margin-bottom: 5px;
}


.logo_home:hover, .exit_home:hover,
.adicionar_home:hover, .img_home:hover,
i:hover{
    cursor: pointer;
}



/* ABERTURA DO MODAL*/
.open_modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0, 0, 0, .8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal{
    position: relative;
    width: 600px;
    min-height: 160px;
    background-color: white;
}


/*MODAL - BOTAO SAIR*/
#exit_modal{
    position: absolute;
    right: 4%;
    top: 5%;
    z-index: 10000;
}


/*MODAL - DETALHES*/
.modal_details{
    width: 100%;
    height: 400px;
    display: none;
}

.img_modal, .info_modal{
    flex: 1;
}

.img_modal{
    object-fit: contain
}

.info_modal{
    padding: 35px 20px 0 20px;
}

.info_modal > p{
    margin: 10px 0 25px 0;
    font-size: 12px;
    flex-wrap: wrap;
    width: 265px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

#Projet{
    height: 100px;
    margin-bottom: 10px;
}


/*MODAL - EXCLUIR*/
.excluir_modal{
    display: none;
    width: 100%;
    height: 100%;
    padding: 30px 20px 10px 30px;
}

.options_excluir{
    display: flex;
    margin: 20px 0px 0px 40%;
}
.excluir_modal h2{
    margin-bottom: 20px;
}
.options_excluir button{
    width: 150px;
    height: 30px;
}

.button_cancelar{
    background: #E5E5E5;
    color: black;
    border: 1px solid black;
    margin-right: 10px;
}

.button_exluir{background-color: black;}


/*MODAL- EXCLUIDO*/
.info_naver{
    display: none;
    padding: 30px;
}

.info_naver h2{margin-bottom: 25px;}



/*Adição de Navers*/


.main_naver{
    width: 600px;
    margin: auto;
}

.title_naver{
    display: flex;
    margin-bottom: 40px;
}

.title_naver span{
    margin-right: 10px;
}

.input_naver{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.input_dados{
    flex: 1;
}

.input_dados input{
    width: 100%;
    padding: 8px;
    border: 1px solid #424242;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}


.input_margem{margin-right: 30px;}

.main_naver button{
    background-color: black;
    width: 170px;
    height: 40px;
    margin-left: calc(600px - 170px);
}

.info_add, .info_edit{display: block;}

.none{display: none;}